#main {
    width: 400px;
    border: 2px solid #4d7aa2;
    border-radius: 8px;
    padding: 32px 80px;
    display: block;

    margin: auto;

}

#main .wrapper {

    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper .time {
    background-color: #ddd;
    padding: 4px 0;
    width: 100%;
}

.time p {
    margin: 8px;
}

form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 16px;
    /* margin-bottom: 32px; */
}

.form-group {
    width: 100%;
    display: flex;
    margin-bottom: 16px;
    align-self: center;
}

.form-group .form-label {

    width: 100px;
    background-color: #5b9bd5;
    padding: 12px;
    border: 1px solid #4d7aa2;
    border-radius: 2px;
    margin-right: 16px;
    color: #fff;


}

.form-group input {
    font-size: 24px;
    padding: 8px 4px;
    border: 2px solid #4d7aa2;
    border-radius: 2px;
}

form .form-button {
    background-color: #51ae15;
    padding: 12px 32px;
    font-size: 15px;
    border: 2px solid #4d7aa2;
    border-radius: 6px;
    color: #fff;
    max-width: 200px;
    text-align: center;

    margin-top: 32px;
}

.name{
    width: 246px;
}

.khoa{
    width: 100px;
}

.labelRadio{
    align-self: center;
}

.form-group #falcuties {

    font-size: 20px;
    padding: 10px 4px;
    border: 2px solid #4d7aa2;
    border-radius: 2px;
}

.form-group .form-input #falcuties:focus,
.form-group .form-input input[type="text"]:focus {
    border: 2px solid #4d7aa2;
}